$cool-blue: #00a7e1;
$cool-green: #44ffd1;
$weird-blue: #6153cc;
$max-red: #d62828;
$black: #020402;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-head {
  color: $cool-blue;
  text-align: center;
}

.welcome {
  color: $black;
  padding: 3%;
  text-align: center;
}

.choice,
.calendar {
  padding: 1% 4%;
}

.sele {
  margin-left: 1%;
  font-weight: 200;
  font-size: 1rem;
  color: $weird-blue;
}

.list-cal {
  display: flex;
  flex-wrap: wrap;

  li {
    list-style-type: none;
    color: green;
    width: 14%;
    margin: 1%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (min-width: 768px) {
  .choice {
    padding: 2% 12%;
  }

  .sele {
    font-size: 2rem;
    color: $weird-blue;
  }

  .list-cal {
    li {
      font-size: 2rem;
    }
  }
}
